
.fa {
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}
.fa-lg {
    font-size: 1.33333em;
    line-height: 0.75em;
    vertical-align: -15%;
}
.fa-2x {
    font-size: 2em;
}
.fa-3x {
    font-size: 3em;
}
.fa-4x {
    font-size: 4em;
}
.fa-5x {
    font-size: 5em;
}
.fa-fw {
    text-align: center;
    width: 1.28571em;
}
.fa-ul {
    list-style-type: none;
    margin-left: 2.14286em;
    padding-left: 0;
}
.fa-ul > li {
    position: relative;
}
.fa-li {
    left: -2.14286em;
    position: absolute;
    text-align: center;
    top: 0.142857em;
    width: 2.14286em;
}
.fa-li.fa-lg {
    left: -1.85714em;
}
.fa-border {
    border: 0.08em solid #EEEEEE;
    border-radius: 0.1em;
    padding: 0.2em 0.25em 0.15em;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.fa.pull-left {
    margin-right: 0.3em;
}
.fa.pull-right {
    margin-left: 0.3em;
}
.fa-spin {
    animation: 2s linear 0s normal none infinite spin;
}
@-moz-keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(359deg);
}
}
@-moz-keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(359deg);
}
}
.fa-rotate-90 {
    transform: rotate(90deg);
}
.fa-rotate-180 {
    transform: rotate(180deg);
}
.fa-rotate-270 {
    transform: rotate(270deg);
}
.fa-flip-horizontal {
    transform: scale(-1, 1);
}
.fa-flip-vertical {
    transform: scale(1, -1);
}
.fa-stack {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2em;
}
.fa-stack-1x, .fa-stack-2x {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.fa-stack-1x {
    line-height: inherit;
}
.fa-stack-2x {
    font-size: 2em;
}
.fa-inverse {
    color: #FFFFFF;
}
.fa-glass:before {
    content: "";
}
.fa-music:before {
    content: "";
}
.fa-search:before {
    content: "";
}
.fa-envelope-o:before {
    content: "";
}
.fa-heart:before {
    content: "";
}
.fa-star:before {
    content: "";
}
.fa-star-o:before {
    content: "";
}
.fa-user:before {
    content: "";
}
.fa-film:before {
    content: "";
}
.fa-th-large:before {
    content: "";
}
.fa-th:before {
    content: "";
}
.fa-th-list:before {
    content: "";
}
.fa-check:before {
    content: "";
}
.fa-times:before {
    content: "";
}
.fa-search-plus:before {
    content: "";
}
.fa-search-minus:before {
    content: "";
}
.fa-power-off:before {
    content: "";
}
.fa-signal:before {
    content: "";
}
.fa-gear:before, .fa-cog:before {
    content: "";
}
.fa-trash-o:before {
    content: "";
}
.fa-home:before {
    content: "";
}
.fa-file-o:before {
    content: "";
}
.fa-clock-o:before {
    content: "";
}
.fa-road:before {
    content: "";
}
.fa-download:before {
    content: "";
}
.fa-arrow-circle-o-down:before {
    content: "";
}
.fa-arrow-circle-o-up:before {
    content: "";
}
.fa-inbox:before {
    content: "";
}
.fa-play-circle-o:before {
    content: "";
}
.fa-rotate-right:before, .fa-repeat:before {
    content: "";
}
.fa-refresh:before {
    content: "";
}
.fa-list-alt:before {
    content: "";
}
.fa-lock:before {
    content: "";
}
.fa-flag:before {
    content: "";
}
.fa-headphones:before {
    content: "";
}
.fa-volume-off:before {
    content: "";
}
.fa-volume-down:before {
    content: "";
}
.fa-volume-up:before {
    content: "";
}
.fa-qrcode:before {
    content: "";
}
.fa-barcode:before {
    content: "";
}
.fa-tag:before {
    content: "";
}
.fa-tags:before {
    content: "";
}
.fa-book:before {
    content: "";
}
.fa-bookmark:before {
    content: "";
}
.fa-print:before {
    content: "";
}
.fa-camera:before {
    content: "";
}
.fa-font:before {
    content: "";
}
.fa-bold:before {
    content: "";
}
.fa-italic:before {
    content: "";
}
.fa-text-height:before {
    content: "";
}
.fa-text-width:before {
    content: "";
}
.fa-align-left:before {
    content: "";
}
.fa-align-center:before {
    content: "";
}
.fa-align-right:before {
    content: "";
}
.fa-align-justify:before {
    content: "";
}
.fa-list:before {
    content: "";
}
.fa-dedent:before, .fa-outdent:before {
    content: "";
}
.fa-indent:before {
    content: "";
}
.fa-video-camera:before {
    content: "";
}
.fa-picture-o:before {
    content: "";
}
.fa-pencil:before {
    content: "";
}
.fa-map-marker:before {
    content: "";
}
.fa-adjust:before {
    content: "";
}
.fa-tint:before {
    content: "";
}
.fa-edit:before, .fa-pencil-square-o:before {
    content: "";
}
.fa-share-square-o:before {
    content: "";
}
.fa-check-square-o:before {
    content: "";
}
.fa-arrows:before {
    content: "";
}
.fa-step-backward:before {
    content: "";
}
.fa-fast-backward:before {
    content: "";
}
.fa-backward:before {
    content: "";
}
.fa-play:before {
    content: "";
}
.fa-pause:before {
    content: "";
}
.fa-stop:before {
    content: "";
}
.fa-forward:before {
    content: "";
}
.fa-fast-forward:before {
    content: "";
}
.fa-step-forward:before {
    content: "";
}
.fa-eject:before {
    content: "";
}
.fa-chevron-left:before {
    content: "";
}
.fa-chevron-right:before {
    content: "";
}
.fa-plus-circle:before {
    content: "";
}
.fa-minus-circle:before {
    content: "";
}
.fa-times-circle:before {
    content: "";
}
.fa-check-circle:before {
    content: "";
}
.fa-question-circle:before {
    content: "";
}
.fa-info-circle:before {
    content: "";
}
.fa-crosshairs:before {
    content: "";
}
.fa-times-circle-o:before {
    content: "";
}
.fa-check-circle-o:before {
    content: "";
}
.fa-ban:before {
    content: "";
}
.fa-arrow-left:before {
    content: "";
}
.fa-arrow-right:before {
    content: "";
}
.fa-arrow-up:before {
    content: "";
}
.fa-arrow-down:before {
    content: "";
}
.fa-mail-forward:before, .fa-share:before {
    content: "";
}
.fa-expand:before {
    content: "";
}
.fa-compress:before {
    content: "";
}
.fa-plus:before {
    content: "";
}
.fa-minus:before {
    content: "";
}
.fa-asterisk:before {
    content: "";
}
.fa-exclamation-circle:before {
    content: "";
}
.fa-gift:before {
    content: "";
}
.fa-leaf:before {
    content: "";
}
.fa-fire:before {
    content: "";
}
.fa-eye:before {
    content: "";
}
.fa-eye-slash:before {
    content: "";
}
.fa-warning:before, .fa-exclamation-triangle:before {
    content: "";
}
.fa-plane:before {
    content: "";
}
.fa-calendar:before {
    content: "";
}
.fa-random:before {
    content: "";
}
.fa-comment:before {
    content: "";
}
.fa-magnet:before {
    content: "";
}
.fa-chevron-up:before {
    content: "";
}
.fa-chevron-down:before {
    content: "";
}
.fa-retweet:before {
    content: "";
}
.fa-shopping-cart:before {
    content: "";
}
.fa-folder:before {
    content: "";
}
.fa-folder-open:before {
    content: "";
}
.fa-arrows-v:before {
    content: "";
}
.fa-arrows-h:before {
    content: "";
}
.fa-bar-chart-o:before {
    content: "";
}
.fa-twitter-square:before {
    content: "";
}
.fa-facebook-square:before {
    content: "";
}
.fa-camera-retro:before {
    content: "";
}
.fa-key:before {
    content: "";
}
.fa-gears:before, .fa-cogs:before {
    content: "";
}
.fa-comments:before {
    content: "";
}
.fa-thumbs-o-up:before {
    content: "";
}
.fa-thumbs-o-down:before {
    content: "";
}
.fa-star-half:before {
    content: "";
}
.fa-heart-o:before {
    content: "";
}
.fa-sign-out:before {
    content: "";
}
.fa-linkedin-square:before {
    content: "";
}
.fa-thumb-tack:before {
    content: "";
}
.fa-external-link:before {
    content: "";
}
.fa-sign-in:before {
    content: "";
}
.fa-trophy:before {
    content: "";
}
.fa-github-square:before {
    content: "";
}
.fa-upload:before {
    content: "";
}
.fa-lemon-o:before {
    content: "";
}
.fa-phone:before {
    content: "";
}
.fa-square-o:before {
    content: "";
}
.fa-bookmark-o:before {
    content: "";
}
.fa-phone-square:before {
    content: "";
}
.fa-twitter:before {
    content: "";
}
.fa-facebook:before {
    content: "";
}
.fa-github:before {
    content: "";
}
.fa-unlock:before {
    content: "";
}
.fa-credit-card:before {
    content: "";
}
.fa-rss:before {
    content: "";
}
.fa-hdd-o:before {
    content: "";
}
.fa-bullhorn:before {
    content: "";
}
.fa-bell:before {
    content: "";
}
.fa-certificate:before {
    content: "";
}
.fa-hand-o-right:before {
    content: "";
}
.fa-hand-o-left:before {
    content: "";
}
.fa-hand-o-up:before {
    content: "";
}
.fa-hand-o-down:before {
    content: "";
}
.fa-arrow-circle-left:before {
    content: "";
}
.fa-arrow-circle-right:before {
    content: "";
}
.fa-arrow-circle-up:before {
    content: "";
}
.fa-arrow-circle-down:before {
    content: "";
}
.fa-globe:before {
    content: "";
}
.fa-wrench:before {
    content: "";
}
.fa-tasks:before {
    content: "";
}
.fa-filter:before {
    content: "";
}
.fa-briefcase:before {
    content: "";
}
.fa-arrows-alt:before {
    content: "";
}
.fa-group:before, .fa-users:before {
    content: "";
}
.fa-chain:before, .fa-link:before {
    content: "";
}
.fa-cloud:before {
    content: "";
}
.fa-flask:before {
    content: "";
}
.fa-cut:before, .fa-scissors:before {
    content: "";
}
.fa-copy:before, .fa-files-o:before {
    content: "";
}
.fa-paperclip:before {
    content: "";
}
.fa-save:before, .fa-floppy-o:before {
    content: "";
}
.fa-square:before {
    content: "";
}
.fa-bars:before {
    content: "";
}
.fa-list-ul:before {
    content: "";
}
.fa-list-ol:before {
    content: "";
}
.fa-strikethrough:before {
    content: "";
}
.fa-underline:before {
    content: "";
}
.fa-table:before {
    content: "";
}
.fa-magic:before {
    content: "";
}
.fa-truck:before {
    content: "";
}
.fa-pinterest:before {
    content: "";
}
.fa-pinterest-square:before {
    content: "";
}
.fa-google-plus-square:before {
    content: "";
}
.fa-google-plus:before {
    content: "";
}
.fa-money:before {
    content: "";
}
.fa-caret-down:before {
    content: "";
}
.fa-caret-up:before {
    content: "";
}
.fa-caret-left:before {
    content: "";
}
.fa-caret-right:before {
    content: "";
}
.fa-columns:before {
    content: "";
}
.fa-unsorted:before, .fa-sort:before {
    content: "";
}
.fa-sort-down:before, .fa-sort-asc:before {
    content: "";
}
.fa-sort-up:before, .fa-sort-desc:before {
    content: "";
}
.fa-envelope:before {
    content: "";
}
.fa-linkedin:before {
    content: "";
}
.fa-rotate-left:before, .fa-undo:before {
    content: "";
}
.fa-legal:before, .fa-gavel:before {
    content: "";
}
.fa-dashboard:before, .fa-tachometer:before {
    content: "";
}
.fa-comment-o:before {
    content: "";
}
.fa-comments-o:before {
    content: "";
}
.fa-flash:before, .fa-bolt:before {
    content: "";
}
.fa-sitemap:before {
    content: "";
}
.fa-umbrella:before {
    content: "";
}
.fa-paste:before, .fa-clipboard:before {
    content: "";
}
.fa-lightbulb-o:before {
    content: "";
}
.fa-exchange:before {
    content: "";
}
.fa-cloud-download:before {
    content: "";
}
.fa-cloud-upload:before {
    content: "";
}
.fa-user-md:before {
    content: "";
}
.fa-stethoscope:before {
    content: "";
}
.fa-suitcase:before {
    content: "";
}
.fa-bell-o:before {
    content: "";
}
.fa-coffee:before {
    content: "";
}
.fa-cutlery:before {
    content: "";
}
.fa-file-text-o:before {
    content: "";
}
.fa-building-o:before {
    content: "";
}
.fa-hospital-o:before {
    content: "";
}
.fa-ambulance:before {
    content: "";
}
.fa-medkit:before {
    content: "";
}
.fa-fighter-jet:before {
    content: "";
}
.fa-beer:before {
    content: "";
}
.fa-h-square:before {
    content: "";
}
.fa-plus-square:before {
    content: "";
}
.fa-angle-double-left:before {
    content: "";
}
.fa-angle-double-right:before {
    content: "";
}
.fa-angle-double-up:before {
    content: "";
}
.fa-angle-double-down:before {
    content: "";
}
.fa-angle-left:before {
    content: "";
}
.fa-angle-right:before {
    content: "";
}
.fa-angle-up:before {
    content: "";
}
.fa-angle-down:before {
    content: "";
}
.fa-desktop:before {
    content: "";
}
.fa-laptop:before {
    content: "";
}
.fa-tablet:before {
    content: "";
}
.fa-mobile-phone:before, .fa-mobile:before {
    content: "";
}
.fa-circle-o:before {
    content: "";
}
.fa-quote-left:before {
    content: "";
}
.fa-quote-right:before {
    content: "";
}
.fa-spinner:before {
    content: "";
}
.fa-circle:before {
    content: "";
}
.fa-mail-reply:before, .fa-reply:before {
    content: "";
}
.fa-github-alt:before {
    content: "";
}
.fa-folder-o:before {
    content: "";
}
.fa-folder-open-o:before {
    content: "";
}
.fa-smile-o:before {
    content: "";
}
.fa-frown-o:before {
    content: "";
}
.fa-meh-o:before {
    content: "";
}
.fa-gamepad:before {
    content: "";
}
.fa-keyboard-o:before {
    content: "";
}
.fa-flag-o:before {
    content: "";
}
.fa-flag-checkered:before {
    content: "";
}
.fa-terminal:before {
    content: "";
}
.fa-code:before {
    content: "";
}
.fa-reply-all:before {
    content: "";
}
.fa-mail-reply-all:before {
    content: "";
}
.fa-star-half-empty:before, .fa-star-half-full:before, .fa-star-half-o:before {
    content: "";
}
.fa-location-arrow:before {
    content: "";
}
.fa-crop:before {
    content: "";
}
.fa-code-fork:before {
    content: "";
}
.fa-unlink:before, .fa-chain-broken:before {
    content: "";
}
.fa-question:before {
    content: "";
}
.fa-info:before {
    content: "";
}
.fa-exclamation:before {
    content: "";
}
.fa-superscript:before {
    content: "";
}
.fa-subscript:before {
    content: "";
}
.fa-eraser:before {
    content: "";
}
.fa-puzzle-piece:before {
    content: "";
}
.fa-microphone:before {
    content: "";
}
.fa-microphone-slash:before {
    content: "";
}
.fa-shield:before {
    content: "";
}
.fa-calendar-o:before {
    content: "";
}
.fa-fire-extinguisher:before {
    content: "";
}
.fa-rocket:before {
    content: "";
}
.fa-maxcdn:before {
    content: "";
}
.fa-chevron-circle-left:before {
    content: "";
}
.fa-chevron-circle-right:before {
    content: "";
}
.fa-chevron-circle-up:before {
    content: "";
}
.fa-chevron-circle-down:before {
    content: "";
}
.fa-html5:before {
    content: "";
}
.fa-css3:before {
    content: "";
}
.fa-anchor:before {
    content: "";
}
.fa-unlock-alt:before {
    content: "";
}
.fa-bullseye:before {
    content: "";
}
.fa-ellipsis-h:before {
    content: "";
}
.fa-ellipsis-v:before {
    content: "";
}
.fa-rss-square:before {
    content: "";
}
.fa-play-circle:before {
    content: "";
}
.fa-ticket:before {
    content: "";
}
.fa-minus-square:before {
    content: "";
}
.fa-minus-square-o:before {
    content: "";
}
.fa-level-up:before {
    content: "";
}
.fa-level-down:before {
    content: "";
}
.fa-check-square:before {
    content: "";
}
.fa-pencil-square:before {
    content: "";
}
.fa-external-link-square:before {
    content: "";
}
.fa-share-square:before {
    content: "";
}
.fa-compass:before {
    content: "";
}
.fa-toggle-down:before, .fa-caret-square-o-down:before {
    content: "";
}
.fa-toggle-up:before, .fa-caret-square-o-up:before {
    content: "";
}
.fa-toggle-right:before, .fa-caret-square-o-right:before {
    content: "";
}
.fa-euro:before, .fa-eur:before {
    content: "";
}
.fa-gbp:before {
    content: "";
}
.fa-dollar:before, .fa-usd:before {
    content: "";
}
.fa-rupee:before, .fa-inr:before {
    content: "";
}
.fa-cny:before, .fa-rmb:before, .fa-yen:before, .fa-jpy:before {
    content: "";
}
.fa-ruble:before, .fa-rouble:before, .fa-rub:before {
    content: "";
}
.fa-won:before, .fa-krw:before {
    content: "";
}
.fa-bitcoin:before, .fa-btc:before {
    content: "";
}
.fa-file:before {
    content: "";
}
.fa-file-text:before {
    content: "";
}
.fa-sort-alpha-asc:before {
    content: "";
}
.fa-sort-alpha-desc:before {
    content: "";
}
.fa-sort-amount-asc:before {
    content: "";
}
.fa-sort-amount-desc:before {
    content: "";
}
.fa-sort-numeric-asc:before {
    content: "";
}
.fa-sort-numeric-desc:before {
    content: "";
}
.fa-thumbs-up:before {
    content: "";
}
.fa-thumbs-down:before {
    content: "";
}
.fa-youtube-square:before {
    content: "";
}
.fa-youtube:before {
    content: "";
}
.fa-xing:before {
    content: "";
}
.fa-xing-square:before {
    content: "";
}
.fa-youtube-play:before {
    content: "";
}
.fa-dropbox:before {
    content: "";
}
.fa-stack-overflow:before {
    content: "";
}
.fa-instagram:before {
    content: "";
}
.fa-flickr:before {
    content: "";
}
.fa-adn:before {
    content: "";
}
.fa-bitbucket:before {
    content: "";
}
.fa-bitbucket-square:before {
    content: "";
}
.fa-tumblr:before {
    content: "";
}
.fa-tumblr-square:before {
    content: "";
}
.fa-long-arrow-down:before {
    content: "";
}
.fa-long-arrow-up:before {
    content: "";
}
.fa-long-arrow-left:before {
    content: "";
}
.fa-long-arrow-right:before {
    content: "";
}
.fa-apple:before {
    content: "";
}
.fa-windows:before {
    content: "";
}
.fa-android:before {
    content: "";
}
.fa-linux:before {
    content: "";
}
.fa-dribbble:before {
    content: "";
}
.fa-skype:before {
    content: "";
}
.fa-foursquare:before {
    content: "";
}
.fa-trello:before {
    content: "";
}
.fa-female:before {
    content: "\e001";
}
.fa-male:before {
    content: "\e001";
}
.fa-gittip:before {
    content: "";
}
.fa-sun-o:before {
    content: "";
}
.fa-moon-o:before {
    content: "";
}
.fa-archive:before {
    content: "";
}
.fa-bug:before {
    content: "";
}
.fa-vk:before {
    content: "";
}
.fa-weibo:before {
    content: "";
}
.fa-renren:before {
    content: "";
}
.fa-pagelines:before {
    content: "";
}
.fa-stack-exchange:before {
    content: "";
}
.fa-arrow-circle-o-right:before {
    content: "";
}
.fa-arrow-circle-o-left:before {
    content: "";
}
.fa-toggle-left:before, .fa-caret-square-o-left:before {
    content: "";
}
.fa-dot-circle-o:before {
    content: "";
}
.fa-wheelchair:before {
    content: "";
}
.fa-vimeo-square:before {
    content: "";
}
.fa-turkish-lira:before, .fa-try:before {
    content: "";
}
.fa-plus-square-o:before {
    content: "";
}

.timeline {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%;
}
.timeline:before {
    background-color: #DDDDDD;
    bottom: 30px;
    content: "";
    left: 50%;
    margin-left: -4px;
    position: absolute;
    top: 0;
    width: 6px;
    z-index: 0;
}
.timeline .timeline-date {
    left: -200px;
    margin-top: -9px;
    position: absolute;
    text-align: right;
    top: 50%;
    width: 150px;
}
.timeline .timeline-icon {
    left: -41px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
}
.timeline .time-icon {
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    display: inline-block !important;
    height: 30px;
    line-height: 28px;
    text-align: center;
    width: 30px;
    z-index: 10;
}
.timeline .time-icon:before {
    font-size: 16px;
}
.timeline-item {
    display: table-row;
}
.timeline-item:before, .timeline-item.alt:after {
    content: "";
    display: block;
    width: 50%;
}
.timeline-item.alt {
    text-align: right;
}
.timeline-item.alt:before {
    display: none;
}
.timeline-item.alt .panel {
    margin-left: 0;
    margin-right: 25px;
}
.timeline-item.alt .timeline-date {
    left: auto;
    right: -200px;
    text-align: left;
}
.timeline-item.alt .timeline-icon {
    left: auto;
    right: -41px;
}
.timeline-item.active {
    display: table-caption;
    text-align: center;
}
.timeline-item.active:before {
    width: 1%;
}
.timeline-item.active .timeline-caption {
    display: inline-block;
    width: auto;
}
.timeline-item.active .timeline-caption h5 span {
    color: #FFFFFF;
}
.timeline-item.active .panel {
    margin-left: 0;
}
.timeline-item.active .timeline-date, .timeline-item.active .timeline-icon {
    display: inline-block;
    margin-bottom: 10px;
    position: static;
    width: auto;
}
.timeline-caption {
    display: table-cell;
    vertical-align: top;
    width: 50%;
}
.timeline-caption .panel {
    display: inline-block;
    margin-left: 25px;
    position: relative;
    text-align: left;
}
.timeline-caption h5 {
    margin: 0;
}
.timeline-caption h5 span {
    color: #;
    display: block;
    font-size: 12px;
    margin-bottom: 4px;
}
.timeline-caption p {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 10px;
}
.timeline-footer {
    display: table-row;
}
.timeline-footer a {
    display: table-cell;
    text-align: right;
}
.timeline-footer .time-icon {
    margin-right: -15px;
    z-index: 5;
}
#note-list .note-name, #note-list .note-desc {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#note-list .note-desc {
    font-size: 11px;
    height: 16px;
}
#note-list li {
    cursor: pointer;
}
#task-list .edit {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-width: 0;
    box-shadow: none;
    color: #FFFFFF;
    display: none;
    float: left;
    font-size: 13px;
    left: 0;
    padding: 0 30px 0 0;
    position: relative;
    top: -8px;
}
#task-list .editing .task-name {
    display: none;
}
#task-list .editing .edit {
    display: block;
}
#task-list .checkbox {
    margin: 4px 0;
}
#task-list li {
    position: relative;
}
#task-list li .close {
    position: absolute;
    right: 15px;
    top: 13px;
    z-index: 1;
}
#task-list li.done .task-name {
    text-decoration: line-through;
}
#task-detail textarea {
    border-radius: 0;
    font-size: 12px;
    height: 60px;
}
.paper {
    background: -moz-linear-gradient(center top , #F0F0F0 0%, #FFFFFF 5%) repeat scroll 0 0 / 100% 30px rgba(0, 0, 0, 0);
    position: relative;
}
.paper:before {
    border-left: 1px solid #F9D3D3;
    bottom: 0;
    content: "";
    left: 39px;
    position: absolute;
    top: 0;
    width: 0;
}
.paper textarea {
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
    height: 100%;
    line-height: 30px;
    min-height: 210px;
    padding: 30px 0 0 55px;
}
.tags .label {
    display: inline-block;
    font-size: 1em;
    margin-bottom: 3px;
    padding: 6px 10px;
}
.post-item {
    background-color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    margin-bottom: 15px;
}
.post-item .post-title {
    margin-top: 0;
}
.post-item .post-media {
    text-align: center;
}
.post-item .post-media img {
    border-radius: 3px 3px 0 0;
}
.switch {
    cursor: pointer;
    position: relative;
}
.switch input {
    opacity: 0;
    position: absolute;
}
.switch input:checked + span {
    background-color: #92CF5C;
}
.switch input:checked + span:after {
    left: 31px;
}
.switch span {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    display: inline-block;
    height: 30px;
    position: relative;
    transition: background-color 0.2s ease 0s;
    width: 60px;
}
.switch span:after {
    background-color: #FFFFFF;
    border-radius: 30px;
    bottom: 1px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    content: "";
    position: absolute;
    top: 1px;
    transition: left 0.2s ease 0s;
    width: 26px;
}
.bg-gradient {
    background-image: linear-gradient(to bottom, rgba(40, 50, 60, 0) 0px, rgba(40, 50, 60, 0.05) 100%);
    background-repeat: repeat-x;
    filter: none;
}
.bg-light {
    background-color: #EBEEF5;
    color: #717171;
}
.bg-light.lt, .bg-light .lt {
    background-color: #F2F4F8;
}
.bg-light.lter, .bg-light .lter {
    background-color: #F9FAFC;
}
.bg-light.dk, .bg-light .dk {
    background-color: #E4E8F2;
}
.bg-light.dker, .bg-light .dker {
    background-color: #DDE2EE;
}
.bg-dark {
    background-color: #4C5566;
    color: #C4C9D3;
}
.bg-dark.lt, .bg-dark .lt {
    background-color: #545E70;
}
.bg-dark.lter, .bg-dark .lter {
    background-color: #5C677C;
}
.bg-dark.dk, .bg-dark .dk {
    background-color: #444C5C;
}
.bg-dark.dker, .bg-dark .dker {
    background-color: #3D4452;
}
.bg-dark a {
    color: #D3D7DE;
}
.bg-dark a:hover {
    color: #FFFFFF;
}
.bg-dark a.list-group-item:hover, .bg-dark a.list-group-item:focus {
    background-color: inherit;
}
.bg-dark .nav li > a {
    color: #A7AFBD;
}
.bg-dark .nav li > a:hover {
    background-color: #414957;
}
.bg-dark .nav li > ul.dropdown-menu > li > a {
    color: #626D83;
}
.bg-dark .nav li > ul.dropdown-menu > li > a:hover {
    color: #FFFFFF;
}
.bg-dark .nav .open > a {
    background-color: #414957;
}
.bg-dark.navbar .nav > li.active > a {
    background-color: #414957;
    color: #FFFFFF;
}
.bg-dark .open > a, .bg-dark .open > a:hover, .bg-dark .open > a:focus {
    color: #FFFFFF;
}
.bg-dark .text-muted {
    color: #B6BCC8;
}
.bg-black {
    background-color: #2C3039;
    color: #9AA1B1;
}
.bg-black.lt, .bg-black .lt {
    background-color: #343843;
}
.bg-black.lter, .bg-black .lter {
    background-color: #3D424F;
}
.bg-black.dk, .bg-black .dk {
    background-color: #24282F;
}
.bg-black.dker, .bg-black .dker {
    background-color: #1C1F25;
}
.bg-black a {
    color: #A8AEBC;
}
.bg-black a:hover {
    color: #FFFFFF;
}
.bg-black a.list-group-item:hover, .bg-black a.list-group-item:focus {
    background-color: inherit;
}
.bg-black .nav li > a {
    color: #7D869B;
}
.bg-black .nav li > a:hover {
    background-color: #21242B;
}
.bg-black .nav li > ul.dropdown-menu > li > a {
    color: #424856;
}
.bg-black .nav li > ul.dropdown-menu > li > a:hover {
    color: #FFFFFF;
}
.bg-black .nav .open > a {
    background-color: #21242B;
}
.bg-black.navbar .nav > li.active > a {
    background-color: #21242B;
    color: #FFFFFF;
}
.bg-black .open > a, .bg-black .open > a:hover, .bg-black .open > a:focus {
    color: #FFFFFF;
}
.bg-black .text-muted {
    color: #8B93A6;
}
.bg-primary {
    background-color: #594F8D;
    color: #DBD8E9;
}
.bg-primary.lt, .bg-primary .lt {
    background-color: #605598;
}
.bg-primary.lter, .bg-primary .lter {
    background-color: #695EA5;
}
.bg-primary.dk, .bg-primary .dk {
    background-color: #524982;
}
.bg-primary.dker, .bg-primary .dker {
    background-color: #4B4276;
}
.bg-primary a {
    color: #EAE9F2;
}
.bg-primary a:hover {
    color: #FFFFFF;
}
.bg-primary a.list-group-item:hover, .bg-primary a.list-group-item:focus {
    background-color: inherit;
}
.bg-primary .nav li > a {
    color: #BDB8D7;
}
.bg-primary .nav li > a:hover {
    background-color: #4F467D;
}
.bg-primary .nav li > ul.dropdown-menu > li > a {
    color: #7166A9;
}
.bg-primary .nav li > ul.dropdown-menu > li > a:hover {
    color: #FFFFFF;
}
.bg-primary .nav .open > a {
    background-color: #4F467D;
}
.bg-primary.navbar .nav > li.active > a {
    background-color: #4F467D;
    color: #FFFFFF;
}
.bg-primary .open > a, .bg-primary .open > a:hover, .bg-primary .open > a:focus {
    color: #FFFFFF;
}
.bg-primary .text-muted {
    color: #CCC8E0;
}
.bg-success {
    background-color: #92CF5C;
    color: #FBFDFA;
}
.bg-success.lt, .bg-success .lt {
    background-color: #9BD36A;
}
.bg-success.lter, .bg-success .lter {
    background-color: #A6D87A;
}
.bg-success.dk, .bg-success .dk {
    background-color: #89CB4E;
}
.bg-success.dker, .bg-success .dker {
    background-color: #80C740;
}
.bg-success a {
    color: #FFFFFF;
}
.bg-success a:hover {
    color: #FFFFFF;
}
.bg-success a.list-group-item:hover, .bg-success a.list-group-item:focus {
    background-color: inherit;
}
.bg-success .nav li > a {
    color: #EEF8E6;
}
.bg-success .nav li > a:hover {
    background-color: #85C948;
}
.bg-success .nav li > ul.dropdown-menu > li > a {
    color: #5F982D;
}
.bg-success .nav li > ul.dropdown-menu > li > a:hover {
    color: #FFFFFF;
}
.bg-success .nav .open > a {
    background-color: #85C948;
}
.bg-success.navbar .nav > li.active > a {
    background-color: #85C948;
    color: #FFFFFF;
}
.bg-success .open > a, .bg-success .open > a:hover, .bg-success .open > a:focus {
    color: #FFFFFF;
}
.bg-success .text-muted {
    color: #EEF8E6;
}
.bg-info {
    background-color: #5DCFF3;
    color: #FFFFFF;
}
.bg-info.lt, .bg-info .lt {
    background-color: #6ED4F4;
}
.bg-info.lter, .bg-info .lter {
    background-color: #81DAF6;
}
.bg-info.dk, .bg-info .dk {
    background-color: #4CCAF2;
}
.bg-info.dker, .bg-info .dker {
    background-color: #3CC5F1;
}
.bg-info a {
    color: #FFFFFF;
}
.bg-info a:hover {
    color: #FFFFFF;
}
.bg-info a.list-group-item:hover, .bg-info a.list-group-item:focus {
    background-color: inherit;
}
.bg-info .nav li > a {
    color: #FFFFFF;
}
.bg-info .nav li > a:hover {
    background-color: #45C8F1;
}
.bg-info .nav li > ul.dropdown-menu > li > a {
    color: #10A9DA;
}
.bg-info .nav li > ul.dropdown-menu > li > a:hover {
    color: #FFFFFF;
}
.bg-info .nav .open > a {
    background-color: #45C8F1;
}
.bg-info.navbar .nav > li.active > a {
    background-color: #45C8F1;
    color: #FFFFFF;
}
.bg-info .open > a, .bg-info .open > a:hover, .bg-info .open > a:focus {
    color: #FFFFFF;
}
.bg-info .text-muted {
    color: #FFFFFF;
}
.bg-warning {
    background-color: #FCC44D;
    color: #FFFFFF;
}
.bg-warning.lt, .bg-warning .lt {
    background-color: #FCCA5F;
}
.bg-warning.lter, .bg-warning .lter {
    background-color: #FDD073;
}
.bg-warning.dk, .bg-warning .dk {
    background-color: #FCBE3B;
}
.bg-warning.dker, .bg-warning .dker {
    background-color: #FBB82A;
}
.bg-warning a {
    color: #FFFFFF;
}
.bg-warning a:hover {
    color: #FFFFFF;
}
.bg-warning a.list-group-item:hover, .bg-warning a.list-group-item:focus {
    background-color: inherit;
}
.bg-warning .nav li > a {
    color: #FFFEFD;
}
.bg-warning .nav li > a:hover {
    background-color: #FCBC34;
}
.bg-warning .nav li > ul.dropdown-menu > li > a {
    color: #DF9904;
}
.bg-warning .nav li > ul.dropdown-menu > li > a:hover {
    color: #FFFFFF;
}
.bg-warning .nav .open > a {
    background-color: #FCBC34;
}
.bg-warning.navbar .nav > li.active > a {
    background-color: #FCBC34;
    color: #FFFFFF;
}
.bg-warning .open > a, .bg-warning .open > a:hover, .bg-warning .open > a:focus {
    color: #FFFFFF;
}
.bg-warning .text-muted {
    color: #FFFEFD;
}
.bg-danger {
    background-color: #FB6B5B;
    color: #FFFFFF;
}
.bg-danger.lt, .bg-danger .lt {
    background-color: #FB7B6C;
}
.bg-danger.lter, .bg-danger .lter {
    background-color: #FC8D80;
}
.bg-danger.dk, .bg-danger .dk {
    background-color: #FB5B4A;
}
.bg-danger.dker, .bg-danger .dker {
    background-color: #FA4C38;
}
.bg-danger a {
    color: #FFFFFF;
}
.bg-danger a:hover {
    color: #FFFFFF;
}
.bg-danger a.list-group-item:hover, .bg-danger a.list-group-item:focus {
    background-color: inherit;
}
.bg-danger .nav li > a {
    color: #FFFFFF;
}
.bg-danger .nav li > a:hover {
    background-color: #FA5542;
}
.bg-danger .nav li > ul.dropdown-menu > li > a {
    color: #EA1D06;
}
.bg-danger .nav li > ul.dropdown-menu > li > a:hover {
    color: #FFFFFF;
}
.bg-danger .nav .open > a {
    background-color: #FA5542;
}
.bg-danger.navbar .nav > li.active > a {
    background-color: #FA5542;
    color: #FFFFFF;
}
.bg-danger .open > a, .bg-danger .open > a:hover, .bg-danger .open > a:focus {
    color: #FFFFFF;
}
.bg-danger .text-muted {
    color: #FFFFFF;
}
.bg-white {
    background-color: #FFFFFF;
    color: #717171;
}
.bg-white a {
    color: #575757;
}
.bg-white a:hover {
    color: #3E3E3E;
}
.bg-white .text-muted {
    color: #979797;
}
.bg {
    color: #FFFFFF;
}
.bg a, .bg a:hover {
    color: #FFFFFF;
}
.pos-rlt {
    position: relative;
}
.pos-stc {
    position: static;
}
.pos-abt {
    position: absolute;
}
.line {
    background-color: rgba(0, 0, 0, 0);
    border-top: 1px solid #EAEDEF;
    border-width: 1px 0 0;
    font-size: 0;
    height: 2px;
    margin: 10px 0;
    overflow: hidden;
}
.line-xs {
    margin: 0;
}
.line-lg {
    margin-bottom: 15px;
    margin-top: 15px;
}
.line-dashed {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-style: dashed;
}
.no-line {
    border-width: 0;
}
.no-border, .no-borders {
    border-color: rgba(0, 0, 0, 0) !important;
    border-width: 0;
}
.no-radius {
    border-radius: 0;
}
.block {
    display: block;
}
.block.hide {
    display: none;
}
.inline {
    display: inline-block;
}
.pull-right-lg {
    float: right;
}
.none {
    display: none;
}
.pull-none {
    float: none;
}
.form-control-trans {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
}
.bg-white-only {
    background-color: #FFFFFF;
}
.rounded {
    border-radius: 500px;
}
.btn-s-xs {
    min-width: 90px;
}
.btn-s-sm {
    min-width: 100px;
}
.btn-s-md {
    min-width: 120px;
}
.btn-s-lg {
    min-width: 150px;
}
.btn-s-xl {
    min-width: 200px;
}
.l-h-2x {
    line-height: 2em;
}
.l-h-1x {
    line-height: 1.2;
}
.v-middle {
    vertical-align: middle !important;
}
.v-top {
    vertical-align: top;
}
.v-bottom {
    vertical-align: bottom;
}
.font-thin {
    font-weight: 300;
}
.font-normal {
    font-weight: normal;
}
.font-semibold {
    font-weight: 600;
}
.font-bold {
    font-weight: 700;
}
.text-sm {
    font-size: 12px;
}
.text-xs {
    font-size: 10px;
}
.text-ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.text-uc {
    text-transform: uppercase;
}
.wrapper {
    padding: 15px;
}
.wrapper-lg {
    padding: 30px;
}
.wrapper-xl {
    padding: 50px;
}
.padder {
    padding-left: 15px;
    padding-right: 15px;
}
.padder-v {
    padding-bottom: 15px;
    padding-top: 15px;
}
.no-padder {
    padding: 0 !important;
}
.pull-in {
    margin-left: -15px;
    margin-right: -15px;
}
.pull-out {
    margin: -10px -15px;
}
.b-t {
    border-top: 1px solid #E0E4E8;
}
.b-r {
    border-right: 1px solid #E0E4E8;
}
.b-b {
    border-bottom: 1px solid #E0E4E8;
}
.b-l {
    border-left: 1px solid #E0E4E8;
}
.r {
    border-radius: 2px;
}
.r-l {
    border-radius: 2px 0 0 2px;
}
.r-r {
    border-radius: 0 2px 2px 0;
}
.r-t {
    border-radius: 2px 2px 0 0;
}
.r-b {
    border-radius: 0 0 2px 2px;
}
.m {
    margin: 15px;
}
.m-n {
    margin: 0;
}
.m-l {
    margin-left: 15px;
}
.m-l-none {
    margin-left: 0;
}
.m-l-xs {
    margin-left: 5px;
}
.m-l-sm {
    margin-left: 10px;
}
.m-l-lg {
    margin-left: 20px;
}
.m-l-n {
    margin-left: -15px;
}
.m-l-n-xxs {
    margin-left: -1px;
}
.m-l-n-xs {
    margin-left: -5px;
}
.m-l-n-sm {
    margin-left: -10px;
}
.m-l-n-lg {
    margin-left: -20px;
}
.m-t {
    margin-top: 15px;
}
.m-t-none {
    margin-top: 0;
}
.m-t-xxs {
    margin-top: 1px;
}
.m-t-xs {
    margin-top: 5px;
}
.m-t-sm {
    margin-top: 10px;
}
.m-t-lg {
    margin-top: 20px;
}
.m-t-n {
    margin-top: -15px !important;
}
.m-t-n-xxs {
    margin-top: -1px;
}
.m-t-n-xs {
    margin-top: -5px;
}
.m-t-n-sm {
    margin-top: -10px;
}
.m-t-n-lg {
    margin-top: -20px;
}
.m-r {
    margin-right: 15px;
}
.m-r-none {
    margin-right: 0;
}
.m-r-xs {
    margin-right: 5px;
}
.m-r-sm {
    margin-right: 10px;
}
.m-r-lg {
    margin-right: 20px;
}
.m-r-n {
    margin-right: -15px;
}
.m-r-n-xxs {
    margin-right: -1px;
}
.m-r-n-xs {
    margin-right: -5px;
}
.m-r-n-sm {
    margin-right: -10px;
}
.m-r-n-lg {
    margin-right: -20px;
}
.m-b {
    margin-bottom: 15px;
}
.m-b-none {
    margin-bottom: 0;
}
.m-b-xs {
    margin-bottom: 5px;
}
.m-b-sm {
    margin-bottom: 10px;
}
.m-b-lg {
    margin-bottom: 20px;
}
.m-b-n {
    margin-bottom: -15px;
}
.m-b-n-xxs {
    margin-bottom: -1px;
}
.m-b-n-xs {
    margin-bottom: -5px;
}
.m-b-n-sm {
    margin-bottom: -10px;
}
.m-b-n-lg {
    margin-bottom: -20px;
}
.media-xs {
    min-width: 50px;
}
.media-sm {
    min-width: 80px;
}
.media-md {
    min-width: 90px;
}
.media-lg {
    min-width: 120px;
}
.thumb {
    display: inline-block;
    width: 64px;
}
.thumb-lg {
    display: inline-block;
    width: 128px;
}
.thumb-md {
    display: inline-block;
    width: 90px;
}
.thumb-xs {
    display: inline-block;
    width: 18px;
}
.thumb-sm {
    display: inline-block;
    width: 36px;
}
.thumb img, .thumb-xs img, .thumb-sm img, .thumb-md img, .thumb-lg img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.img-full {
    max-width: 100%;
}
.img-full > img {
    max-width: 100%;
}
.avatar {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 500px;
    display: block;
    white-space: nowrap;
}
.avatar img {
    border-radius: 500px;
}
.avatar.border {
    border: 3px solid rgba(255, 255, 255, 0.5);
}
.clear {
    display: block;
    overflow: hidden;
}
.scroll-x, .scroll-y {
    overflow: hidden;
}
.scroll-y {
    overflow-y: auto;
}
.scroll-x {
    overflow-x: auto;
}
.no-touch .scroll-x, .no-touch .scroll-y {
    overflow: hidden;
}
.no-touch .scroll-x:hover, .no-touch .scroll-x:focus, .no-touch .scroll-x:active {
    overflow-x: auto;
}
.no-touch .scroll-y:hover, .no-touch .scroll-y:focus, .no-touch .scroll-y:active {
    overflow-y: auto;
}
.no-touch .hover-action {
    display: none;
}
.no-touch .hover:hover .hover-action {
    display: inherit;
}
.h {
    font-size: 170px;
    font-weight: 300;
}
@media screen and (min-width: 992px) {
.col-lg-2-4 {
    float: left;
    width: 20%;
}
}
@media (max-width: 767px) {
.shift {
    display: none !important;
}
.shift.in {
    display: block !important;
}
.row-2 [class*="col"] {
    float: left;
    width: 50%;
}
.row-2 .col-0 {
    clear: none;
}
.row-2 li:nth-child(2n+1) {
    clear: left;
    margin-left: 0;
}
.text-center-xs {
    text-align: center;
}
.pull-none-xs {
    float: none !important;
}
.hidden-xs.show {
    display: inherit !important;
}
}
